// -----------------------------------------------------------------
// Box Item
//
// 親要素が display: flex; 指定の際に使う中身のboxを定義。
// 親となるwrapper要素各projectごとに指定が必要だが、mixinにboxWrapとして共通のスタイル定義あり。
// -----------------------------------------------------------------
/**
 * Box Item --base
 */
.c-box {
  display: flex;
  margin-bottom: 2rem;
}
.c-box__image {
  width: 100%;
}
.c-box__text {
  flex: 1;
}

/**
 * Box Item --row
 */
.c-box--row {
  flex-direction: row;
  margin-bottom: 1;
}
.c-box__image--row {
  width: 40%;
  object-fit: cover;
}
.c-box__text--row {
  margin-left: 1rem;
}

/**
 * Box Item --column
 */
.c-box--column {
  flex-direction: column;
  &:nth-child(even) {
    margin-left: 1rem;
    @include pc {
      margin-left: 0;
    }
  }
  @include pc {
    &:not(:nth-child(3n + 1)) {
      margin-left: 1rem;
    }
  }
}
.c-box__text--column {
  margin-top: .5em;
}