// -----------------------------------------------------------------
// List Item
// -----------------------------------------------------------------
.c-listitem {
  display: block;
  padding: 1rem 0;
  border-bottom: 1px solid $black-300-c;
  list-style: none;
  &:first-of-type {
    border-top: 1px solid $black-300-c;
  }
}
.c-listitem--next {
  position: relative;
  &::after {
    content: '>';
    position: absolute;
    top: 50%;
    right: 1rem;
    line-height: 1;
    font-weight: bold;
    transform: translateY(-50%);
  }
}