// -----------------------------------------------------------------
// PC Styles
// -----------------------------------------------------------------
.c-pc_content--m {
  @include pc {
    display: block;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
  }
}