// -----------------------------------------------------------------
// Title
// -----------------------------------------------------------------
/**
 * Title
 */
.c-title {
  display: block;
  margin: 3.5rem auto auto;
  font-size: 1.4rem;
  @include font-rocknroll;
}

.c-title--accent {
  &::after {
    content: '';
    display: block;
    width: 80px;
    height: 40px;
    margin: -.5em auto 0;
    background: url('~assets/images/heading-accent.png') center center / contain no-repeat;
  }
}

.c-subtitle {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.5;
}