// ==========================================================================
// column
// ==========================================================================
// -----------------------------------------------------------------
// title
// -----------------------------------------------------------------

// -----------------------------------------------------------------
// boxes
// -----------------------------------------------------------------
.p-column__list {
  @include boxWrapRow;
}
.p-column__category {
  @include boxLabel;
  border-radius: 20px;
  &[data-category="dinosaur"] {
    background-color: $column-dinosaur-c;
  }
  &[data-category="tips"] {
    background-color: $column-tips-c;
  }
  &[data-category="history"] {
    background-color: $column-history-c;
  }
  &[data-category="event"] {
    background-color: $column-event-c;
  }
}
.p-column__eyecatch {
  @include pageEyecatch;
}