// ==========================================================================
// column
// ==========================================================================
// -----------------------------------------------------------------
// title
// -----------------------------------------------------------------

// -----------------------------------------------------------------
// boxes
// -----------------------------------------------------------------
.p-column__list {
  @include boxWrapRow;
}
.p-column__category {
  @include boxLabel;
  border-radius: 20px;
  color: #fff;
  &[data-category="dinosaur"] {
    background-color: $column-dinosaur-c;
  }
  &[data-category="knowledge"] {
    background-color: $column-knowledge-c;
  }
  &[data-category="history"] {
    background-color: $column-history-c;
  }
  &[data-category="expert"] {
    background-color: $column-expert-c;
  }
}
.p-column__eyecatch {
  @include pageEyecatch;
}