// ==========================================================================
// dinosaur
// ==========================================================================
// -----------------------------------------------------------------
// dinosaur
// -----------------------------------------------------------------
.p-dinosaur__list {
  @include boxWrapColumn;
}
.p-dinosaur__item {
  display: none;
  &.is-show {
    display: block;
  }
}
.p-dinosaur__category {
  @include boxLabel;
  border-radius: 20px;
  color: #fff;
  &[data-category="dragon"] {
    background-color: $dinosaur-dragon-c
  }
  &[data-category="bird"] {
    background-color: $dinosaur-bird-c
  }
}
.p-dinosaur__age {
  @extend .p-dinosaur__category;
  color: #000;
  &[data-category="jurassic"] {
    background-color: $dinosaur-jurassic-c;
  }
  &[data-category="cretaceous"] {
    background-color: $dinosaur-cretaceous-c;
  }
}
.p-dinosaur__eyecatch {
  @include pageEyecatch;
  margin-bottom: 3rem; // Cancel margin-bottom in pageEyeCatch
}
.p-dinosaur__slide {
  position: relative;
  top: 0;
  left: 0;
  &::after {
    content: '';
    position: absolute;
    bottom: -20px;
    right: -30px;
    display: block;
    background: url('~assets/images/dinosaur-accent.png') center center / contain no-repeat;
    width: 160px;
    height: 40px;
    z-index: $z-level-xs;
  }
}

// -----------------------------------------------------------------
// related
// -----------------------------------------------------------------
.p-related__list {
  @include boxWrap;
}
.p-related__item {
  &:not(:first-child) {
    margin-left: .5em;
  }
}
// -----------------------------------------------------------------
// button favorite
// -----------------------------------------------------------------
.p-dinosaur__favorite {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: block;
  width: 50px;
  height: 50px;
  z-index: $z-level-m;
}