// -----------------------------------------------------------------
// Guide
// -----------------------------------------------------------------
.p-guide__item {
  
}
.p-guide__date {
  margin-right: 1em;
  font-size: .8rem;
}
.p-guide__tag {
  padding: 0 1rem;
  background-color: $base-80-c;
  font-size: .7rem;
}
.p-guide__link {
  display: block;
  font-size: .8rem;
  width: calc(100% - 2rem);
}