// -----------------------------------------------------------------
// Column Top
// -----------------------------------------------------------------
.p-columntop {
  @include boxWrapColumn;
}
.p-columntop__list {
  display: flex;
  flex-wrap: wrap;
}
.p-columntop__text {
  height: calc(1rem * 1.8 * 3);
  overflow: hidden;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 60px;
    height: calc(1rem * 1.8);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #fff 100%);
  }
}