// -----------------------------------------------------------------
// margin
// -----------------------------------------------------------------

// @TODO: for文で生成
.u-mgb-5 {
  margin-bottom: 5px;
}
.u-mgb-10 {
  margin-bottom: 10px;
}
.u-mgb-20 {
  margin-bottom: 20px;
}
.u-mgb-40 {
  margin-bottom: 40px;
}
.u-mgb-60 {
  margin-bottom: 60px;
}
.u-mgb-80 {
  margin-bottom: 80px;
}
.u-mgt-5 {
  margin-top: 5px;
}
.u-mgt-10 {
  margin-top: 10px;
}
.u-mgt-20 {
  margin-top: 20px;
}
.u-mgt-40 {
  margin-top: 40px;
}
.u-mgt-60 {
  margin-top: 60px;
}
.u-mgt-80 {
  margin-top: 80px;
}
